* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Spartan', sans-serif;
    background-color: #ffffff;
    margin: 0 auto;
    background-image: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat,no-repeat;
    background-position: left top, bottom right;
}
.container {
    width: 375px;
    margin: 0 auto;
}

/* Site-header styles */
.site-header {
    margin-top: 80px;
}
h1 {
    width: 95%;
    color: hsl(300, 43%, 22%);
    margin: 0 auto;
    text-align: center;
}
.site-header p {
    color: hsl(300, 43%, 22%);
    margin: 30px 15px;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}

/* site-reviews styles */
.site-reviews {
    width: 90%;
    margin: 0 auto;
}
.review {
    background-color: #f7f2f8;
    height: 100px;
    margin-top: 20px;
    border-radius: 10px;
}
.image-container {
    position: relative;
    left: 35%;
    top: 20%;
}
h2 {
    color: hsl(300, 43%, 22%);
    font-size: 15px;
    text-align: center;
    padding-top: 40px;
}

/* site-review-card styles */
.site-review-card-container {
    width: 90%;
    margin: 40px auto;
}
.site-review-card {
    background-color: #511f50;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
}
.card-img {
    display: inline;
    float: left;
    width: 50px;
    border-radius: 50%;
    margin-top: 40px; 
    margin-left: 30px;
}
h3 {
    font-weight: 500;
    font-size: 14px;
    padding-left: 105px;
    line-height: 150%;
}
.card-name {
    color:  hsl(300, 24%, 96%);
    padding-top: 45px;
}
.card-buyer {
    color: hsl(333, 40%, 45%);
    margin-bottom: 35px;
}
.card-para {
    width: 85%;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: hsl(300, 24%, 96%); 
    padding-left: 30px;
}

/* Media queries for table - (width of 768 pixels) */
@media (min-width: 768px) {
    .container {
        width: 768px;
    }
    .column {
        float: left;
        width: 50%;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .site-review-card-container {
          display: flex;
          width: 100%;
          flex-direction: row;
          margin: 10px 5px;
      }
      .site-review-card {
        margin: 5px;
        width: 600px;
      }
}
/* Media queries for table - (width of 1024 pixels) */
@media screen and (min-width: 1024px) {
    .container {
        width: 1024px;
    }
    /* site-header styles */
    h1 {
        width: 60%;
        text-align: left;
        margin: 0;
        margin-left: 20px;
    }
    .site-header p {
        text-align: left;
    }

    /* site-review styles */
    .site-reviews {
        margin-top: 80px;
    }
    .review {
        height: 50px;
        width: 400px;
    }
    .image-container {
        position: relative;
        display: inline;
        top: 30%;
        left: 30px;
    }
    h2 {
        position: relative;
        display: inline;
        top: 30%;
        left: 50px;
        font-size: 12px;
    }
    .second-review {
        margin-left: 30px;
    }
    .third-review {
        margin-left: 60px;
    }

    /* site-review-card styles */
    .site-review-card-container {
        margin-bottom: 10%;
    }
    .site-review-card {
        height: 230px;
        width: 320px;
        margin-right: 20px;
    }
    h3 {
        font-size: 13px;
    }
    .card-para {
        font-size: 12px;
        width: 90%;
    }
    .card-2 {
        margin-top: 20px;
    }
    .card-3 {
        margin-top: 40px;
    }
}